*{
  font-family: 'Product Sans';
}
body{
  margin: 0;
  padding: 0;
  background-image: url("fondo.jpg");
  background-repeat:no-repeat;
}
.Caja{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #17A2B8;
  text-align: center;
  border-radius: 20px;
  }

.Caja h1{
  color: white;

}
.Caja input[type="Text"],.Caja input[type="password"]{
  border:0;
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 14px;
  border-radius:20px;
  border: 2px solid cyan;

}

.Caja input[type = "submit"]{
  border:0;
  background: white;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid cyan;
  padding: 14px 40px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.Login{
  border:0;
  background: white;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid cyan;
  padding: 14px 40px;
  outline: none;
  color: #959595;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  text-decoration: inherit;

}
